<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Lunch Check</title>
</head>

<body>
    <h1>Lunch Check</h1>
    <div ng-controller="LunchCheckController">
        <div>
            <textarea ng-model="items">
                </textarea>
        </div>
        <div>An empty item, i.e., , , is not considered as an item towards to the count</div>
        <button ng-click="checkIf()">Check If Too Much</button>
        <div ng-class="{'check-verified': state , 'check-error': state == false}">
            {{message}}
        </div>
    </div>
</body>

</html>